@import "variable";
* {
  padding: 0;
  margin: 0;
}


html, body {
  width: 100%;
  height: 100%;
}

body {
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: var(--white-color);
  font-feature-settings: "tnum";
}
