.vir-checkbox { /*  var(--) */
  display: inline-block;
  cursor: pointer;
}

.vir-checkbox .inner {
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  direction: ltr;
  background-color:  var(--white-color);
  border: 1px solid  var(--border-color);
  border-radius: 2px;
  border-collapse: initial;
  transition: all .2s ease-in-out;
}

.vir-checkbox .inner:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 8px;
  margin-left: -3px;
  margin-top: -6px;
  border: 2px solid  var(--white-color);
  border-top: 0;
  border-left: 0;
  content: " ";
  opacity: 0;
  
}


.vir-checkbox .content {
  display: inline-block;
}

.vir-checkbox.half-checked .inner:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border: none;
  margin: 0;
  transform: translate(-50%,-50%);
  opacity: 1;
  content: " ";
}


.vir-checkbox.checked .inner {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}


.vir-checkbox.checked .inner:after {
  transform: rotate(45deg);
  opacity: 1;
}


.vir-checkbox.disabled {
  color: var(--disabled-color);
  cursor: not-allowed;
}


.vir-checkbox.disabled .inner {
  border-color: var(--disable-color);
  background-color: var(--disable-color);
}