.vir-tree {
  position: relative;
  display: inline-block;
  width: 100%;
  user-select: none;
}

.vir-tree-node {
  margin: 4px 0;
  line-height: normal;
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.vir-tree-node:hover {
  background-color: var(--gray-color-tree);
}

.vir-tree-node:hover .node-content .node-title {
  color: var(--primary-color);
}

.vir-tree-node .node-arrow {
  display: inline-block;
  margin-right: 2px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.vir-tree-node .node-arrow .iconfont {
  display: block;
}

/* .iconfont */
.vir-tree-node .node-arrow.expanded {
  transform: rotate(90deg);
}

.vir-tree-node .node-arrow .ico-loading {
  animation: roundLoading 1s linear infinite;
}

.vir-tree-node .node-content {
  display: inline-block;
  vertical-align: top;
}

.vir-tree-node .node-content .node-title {
  padding: 0 6px;
  vertical-align: top;
  color: var(--text-color);
  white-space: nowrap;
  transition: background-color 0.2s;
}

.vir-tree-node .node-content .node-title.selected {
  background-color: var(--assist-color);
}

.vir-tree-node .node-content .node-title.disabled {
  cursor: not-allowed;
  color: var(--disable-color);
}

.node-selected .node-title {
  background-color: #d5e8fc;
}

@keyframes roundLoading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
